{% extends 'admin/base_site.html' %}

{% block content %}

<h1>Preview email template: {{ email_template }}</h1>

<table>
    <tr>
        <th>Subject:</th>
        <td>{{ subject }}</td>
    </tr>
    <tr>
        <th>Body:</th>
        <td>{{ body|linebreaksbr }}</td>
    </tr>
</table>

    <a href="{% url 'admin:notifications_emailtemplate_changelist' %}">&laquo; back</a>

{% endblock %}