{% extends 'admin/base_site.html' %}

{% block extrahead %}

{% endblock %}
{% block content %}

    <h2>Confirm rejection</h2>

    <p>You are about to reject the following candidates:</p>

    <ul>
    {% for application in queryset %}
    <li>{{ application }} ({{ application.user.profile.get_full_name }} - {{ application.position }}, {{ application.organisation }})</li>
    {% endfor %}
    </ul>

    <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button name="submit" type="submit" value="submit">Yes, reject these applications</button>
    </form>

{% endblock %}