{% extends 'admin/base_site.html' %}

{% block extrahead %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
{% endblock %}
{% block content %}
    <p>This email will be sent to the following applicants:</p>
    <ul>
    {% for a in applications %}
    <li>{{ a }}</li>
    {% endfor %}
    </ul>

    {% if preview %}

    <h2>Preview</h2>

    <table>
    <tr>
        <th>Subject:</th>
        <td>{{ preview.subject }}</td>
    </tr>
    <tr>
        <th>Body:</th>
        <td>{{ preview.body }}</td>
    </tr>
    </table>

    {% endif %}

    <h2>Email details</h2>

    <form action="" method="post">
{{ form.as_p }}
        <input name="submit" type="submit"/>
        <input name="preview" type="submit" value="Preview"/>
    {% csrf_token %}
    </form>

    <script type="text/javascript">
        $(function() {
            $('#id_template').change(function() {
                $.getJSON('/admin/notifications/emailtemplate/'+$(this).val()+'/json', function(data) {
                    var template = data[0];
                    $('#id_subject').val(template.fields.subject);
                    $('#id_body').val(template.fields.body);

                });
            })
        })
    </script>

{% endblock %}