{% extends 'admin/base_site.html' %}

{% block content %}

    <h1>View applications</h1>

    <div id="changelist">
        <table>
        <thead>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        {% for f in position.form.list_fields %}
        <th>{{ f.label }}</th>
        {% endfor %}
        <th>Actions</th>
        </thead>

        <tbody>
        {% for ja in object_list %}
        <tr>
            <td>{{ ja.application_code }}</td>
            <td>{{ ja.user.profile.first_name }}</td>
            <td>{{ ja.user.profile.last_name }}</td>
            {% for f in ja.list_values %}
                <td>{{ f.value }}</td>
            {% endfor %}
            <td>
                <a href="{% url 'admin:jobs_jobapplication_change' ja.id %}">View</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>

    <a href="{% url 'admin:jobs_position_changelist' %}">&laquo; back</a>

{% endblock %}