{% extends 'admin/base_site.html' %}

{% block content %}

    <h1>{{ object }}</h1>

    <h2>Candidate details</h2>

    <table>
    <tr>
        <th>Name:</th>
        <td>{{ object.user.profile.get_full_name }}</td>
    </tr>
    <tr>
        <th>Email:</th>
        <td>{{ object.user.email }}</td>
    </tr>
    <tr>
        <th>Telephone:</th>
        <td>{{ object.user.profile.telephone }}</td>
    </tr>
    <tr>
        <th>CV:</th>
        <td>
            {% if object.user.profile.cv %}<a class="button" href="{% url 'get_cv' object.user.id %}">Download</a>{% else %}No CV uploaded{% endif %}
        </td>
    </tr>
    </table>


    <h2>Application questions</h2>
    <table>
    {% for f in object.fields.all %}
    <tr>
        <th>{{ f.get_field.label }}</th>
        <td>{{ f.render_value_html|safe }}</td>
    </tr>
    {% endfor %}
    </table>

{% endblock %}