{% extends 'base.html' %}

{% block main %}

    <h1>Logged out</h1>

    <p>Thanks, you have been logged out. Click <a href="{% url 'index' %}">here</a> to return to the homepage.</p>

{% endblock %}