{% extends 'base.html' %}
{% block main %}
    <div class="large-12 columns">
        <h1>Please log in</h1>
        <p>You must have an account to use this system. You can create one now &ndash; it only takes 30 seconds!</p>
        <div class="error">
        {{ form.non_field_errors }}
        </div>
        <div class="row">
        <form method="post" action="" id="login_form" class='login-form large-6 small-12 columns large-centered'>
            <p {% if form.username.errors %}class="error"{% endif %}>
                {{ form.username.label_tag }}
                {{ form.username }}
                {% if form.username.errors %}
                    <small>
                        {% for e in form.password.errors %}
                            {{ e }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </small>
                {% endif %}
            </p>
            <p {% if form.password.errors %}class="error"{% endif %}>
                {{ form.password.label_tag }}
                {{ form.password }}
                {% if form.password.errors %}
                <small>
                    {% for e in form.password.errors %}
                        {{ e }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </small>
                {% endif %}

            </p>
            <p>
            {% csrf_token %}
            <button type="submit">Log in</button>
            <a href="{% url 'registration_register' %}" class="button secondary">Create account</a>
            </p>
        <p>If you have forgotten your password, click <a href="{% url 'password_reset' %}">here</a> to recover it.</p>
        </form>
        </div>
    </div>
{% endblock %}
