{% extends 'account_home.html' %}

{% block account_main %}

    <h2>Change your password</h2>
<form action="" method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <button type="submit">Change</button>
</form>
{% endblock %}
