{% extends 'base.html' %}

{% block main %}

    <div class="large-12 columns">
    <h1>Reset your password</h1>

    <p>Forgotten your password? Enter your email address below and you will be sent an email with instructions on how to recover it.</p>

        <div class="row">
        <div class="large-5 columns">
        <form action="" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit">Submit</button>
        </form>
        </div>
        </div>
    </div>

{% endblock %}
