{% extends 'base.html' %}

{% block main %}

    <div class="large-12">
    <h1>Complete</h1>
    <p>Your password has been reset. You may now log in with your new password.</p>
    <p><a href="{% url 'login' %}">&laquo; back to login</a></p>
    </div>

{% endblock %}