{% extends 'base.html' %}

{% block main %}
    <div class="large-12 columns">
        <h1>Change your password</h1>

        <p>Nearly there... please enter a new password below.</p>

        <div class="row">
            <form method="post" action="" class="large-5 columns">
                {{ form.as_p }}
                {% csrf_token %}
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}