{% extends 'base.html' %}

{% block main %}

<div class="large-12 columns">
    <h1>Password reset successful</h1>
    <p>Thanks! You have been sent an email with instructions on how to recover your password. If you do not receive it within 10 minutes please check your spam or junk folders.</p>
</div>

{% endblock %}
