</div>
{% extends 'base.html' %}
{% block main %}
    <div class="large-12 columns">
<h1>Create an account</h1>
    <form action="" method="post">

    <div class="row">
        <p class="field large-6 columns">
            {{ form.email.label_tag }}
            {{ form.email }}
            {% if form.email.errors %}
                <small>
                    {% for e in form.email.errors %}
                        {{ e }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </small>
            {% endif %}
        </p>
    </div>

    <div class="row">
        <p class="field large-6 columns">
            {{ form.password1.label_tag }}
            {{ form.password1 }}
            {% if form.password1.errors %}
                <small>
                    {% for e in form.password1.errors %}
                        {{ e }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </small>
            {% endif %}
        </p>

        <p class="field large-6 columns">
            {{ form.password2.label_tag }}
            {{ form.password2 }}
            {% if form.password2.errors %}
                <small>
                    {% for e in form.password2.errors %}
                        {{ e }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </small>
            {% endif %}
        </p>
    </div>

        {% csrf_token %}
        <button type="submit">Create account</button>
    </form>
    </div>
{% endblock %}