@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

body {
    font-family: "Droid Serif", Georgia, serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One';
    text-transform: uppercase;
}

a { color: #bbb; }

.page-header { margin: 1.5em auto; }
.logo img { width: 150px; }