// Global Foundation Settings
@import settings

// Comment out this import if you are customizing you imports below
@import foundation

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/foundation-global"; // *always required
// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

.errorlist
  color: #c00
  padding: 1.5em 0.75em
  list-style: none
  border: 1px solid desaturate(#c00, 55%)
  background: desaturate(lighten(#c00, 55%),50%)


.jobapplication-list
  width: 100%

.alert-box.error
  @extend .alert-box.alert

.response-table
  width: 100%
  text-align: left

article
  ul
    margin-left: 2em

.page-header
  border-bottom: 1px solid #eee
  .user
    margin-top: 1em

.page-footer
  border-top: 1px solid #eee
  color: #ddd
  padding-top: 1.25em
  margin-top: 1.25em
  a
    color: #bbb

.clear-checkbox-label
  display: inline

.application-form-screen
  .personal-details
    background: #fafafa
    margin-top: 0.5em
  .application-form
    textarea
      height: 8em
    .field
      border: 1px solid #eee
      padding: 1.25em
      margin: 1.25em 0
      & > label
        margin-bottom: 1.25em
      ul
        list-style: none
      .helptext
        font-size: 80%
        color: #333


.position-list
  list-style: none
  .position
    +clearfix
    border-bottom: 1px solid #eee
    padding: 0.5em
    &:hover
      background: #fafafa
    .button
      margin-top: 1.25em
    h2
      margin-bottom: 0
    a
      color: #222
  .position-meta
    color: #777

#facebox
  .button
    margin-right: 0.2em
