{% extends 'base.html' %}

{% block main %}

<table class="jobapplication-list">
    <thead>
        <th>Candidate name</th>
        <th>Position</th>
        <th>Organisation</th>
        <th>Date submitted</th>
        <th>Actions</th>
    </thead>

    {% for ja in object_list %}
    <tr>
        <td>{{ ja.user.profile.get_full_name }}</td>
        <td>{{ ja.position }}</td>
        <td>{{ ja.position.organisation }}</td>
        <td>{{ ja.entry_time }}</td>
        <td>
{#            <a href="{% 'backend_jobapplication_view ja.id%}">View</a>#}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}