{% extends 'base.html' %}

{% block main %}

<table class="jobapplication-list">
    <thead>
        <th>#</th>
        <th>Organisation</th>
        <th>Title</th>
        <th>Actions</th>
    </thead>
    {% for position in object_list %}
    <tr>
        <td>{{ position.id }}</td>
        <td>{{ position.organisation }}</td>
        <td>{{ position.title }}</td>
        <td>
            <a href="{% url 'position_detail' pk=position.id %}">Listing</a> &middot;
            <a href="#">View applicants</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}