{% extends 'account_home.html' %}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block account_main %}

    <div class="large-12 columns">

        <h2>Interview booking</h2>

        <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>

        {% block intro_text %}{% endblock %}
        <form action="" method="post">
            {% csrf_token %}
            {{ wizard.management_form }}
            {% if wizard.form.forms %}
                {% for form in wizard.form.forms %}
                    {{ form.as_p }}
                {% endfor %}
            {% else %}
                {{ wizard.form.as_p }}
            {% endif %}

            {% if wizard.steps.prev %}
                <button name="wizard_goto_step" type="submit" class="secondary"
                        value="{{ wizard.steps.first }}">{% trans "Start again" %}</button>
                <button name="wizard_goto_step" type="submit" class="secondary"
                        value="{{ wizard.steps.prev }}">{% trans "Back" %}</button>
            {% endif %}
            {% if wizard.steps.next %}
            <button type="submit" value="submit">Next</button>
            {% else %}
            <button type="submit" value="submit">Finish</button>
            {% endif %}

        </form>


    </div>


{% endblock %}