{% extends 'account_home.html' %}

{% block account_main %}
    <h2>Booking confirmation</h2>

    <p>Thanks, your interview booking is now confirmed as follows:</p>

    <table>
    <tbody>
    <tr>
        <th>Time:</th>
        <td>{{ booking.appointment.start_time }}</td>
    </tr>
    <tr>
        <th>Location:</th>
        <td>{{ booking.appointment.session.location }}</td>
    </tr>
    </tbody>
    </table>

    <p>{{ booking.appointment.session.extra_instructions }}</p>


    <a class="button secondary" href="{% url 'interview_request_list' %}">Continue</a>

{% endblock %}