{% extends 'base.html' %}

{% block main %}

<div class="large-12 columns">
    <h2>Book interview</h2>

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
</div>

{% endblock %}