{% extends 'base.html' %}

{% block main %}

    <div class="large-12 columns">
    <h1>Interview session</h1>

    <table>
        {% for slot in object.interviewappointment_set.all %}
        <tr>
            <th>{{ slot.start_time.time }}</th>
            <td>
                {% if not slot.is_booked %}
                    <a class="button small secondary" href="{% url 'interviews_booking_create' object.id slot.id %}">Book</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

    </div>


{% endblock %}