{% extends 'account_home.html' %}

{% block account_main %}

<h2>Confirm</h2>

<p>Are you sure you want to cancel the following interview?</p>

<table>
    <tr>
        <th>Date/time</th>
        <td>{{ object.appointment.start_time }}</td>
    </tr>
    <tr>
        <th>Location</th>
        <td>{{ object.appointment.session.location }}</td>
    </tr>
</table>

<form action="" method="post">
    {% csrf_token %}
    <button class="alert" type="submit">Cancel interview</button>
    <a class="button secondary" href="{% url 'interview_request_list' %}">Go back</a>
</form>

{% endblock %}