{% extends 'account_home.html' %}

{% block account_main %}

<div class="large-12 columns">
    <h2>Interviews</h2>

    {% include '_messages.html' %}

    {% if interview_requests %}

    <h3>Interview requests</h3>

    <table>
        <thead>
        <tr>
            <th>Your ref.</th>
            <th>Organisation</th>
            <th>Position</th>
            <th>Status</th>
            <th>Deadline</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for ir in interview_requests %}
        <tr>
            <td>{{ ir.job_application.application_code }}</td>
            <td>{{ ir.job_application.organisation }}</td>
            <td>{{ ir.job_application.position }}</td>
            <td>{{ ir.get_status }}</td>
            <td>{{ ir.deadline }}</td>
            <td>
                {% if ir.is_valid %}
                <a href="{% url 'interview_booking_start' ir.id %}" class="button small secondary">Book</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
        <h3>Interview bookings</h3>

    {% endif %}


    {% if interview_bookings %}


    <table>
        <thead>
        <tr>
            <th>Date/time</th>
            <th>Location</th>
            <th>Your ref</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for booking in interview_bookings %}
        <tr>
            <td>{{ booking.appointment.start_time }}</td>
            <td>{{ booking.appointment.session.location }}</td>
            <td>
                <a href="{% url 'jobapplication_detail' booking.application.id %}">#{{ booking.application.application_code }}</a>
            </td>
            <td><a href="{% url 'interview_appointment_cancel' booking.id %}" class="button alert small">Cancel</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>You have no interview bookings at the moment.</p>
    {% endif %}
</div>

{% endblock %}