{% extends 'base.html' %}

{% block main %}

<h1>Error</h1>

<p>Whoops! Something has gone wrong. Our webmaster has been informed of the issue and we will are working on a solution.</p>

{% endblock %}