{% if messages %}
    {% for m in messages %}
        <div data-alert class="alert-box{% if m.tags %} {{ m.tags }}{% endif %}">
            {{ m|safe }}
            <a class="close" href="#">&times;</a>
        </div>
    {% endfor %}
{% endif %}
