{% extends 'base.html' %}

{% block main %}
<div class="12-large columns">
<div class="large-9 push-3 columns">
    {% block account_main %}

    {% endblock %}
</div>
<div class="sidebar large-3 pull-9 columns">

    <ul class="side-nav">
        <li><a href="{% url 'jobapplication_list' %}">Your applications</a></li>
        <li><a href="{% url 'update_profile' %}">Update your profile</a></li>
        <li><a href="{% url 'password_change' %}">Change password</a></li>
        <li><a href="{% url 'interview_request_list'%}">Interviews</a></li>
    </ul>
</div>
</div>
{% endblock %}