{% load staticfiles %}

<!doctype html>
<html>

<head>
    <title>{{ site.name }} | Online application</title>

    <meta name="viewport" content="width=device-width" />

    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Amaranth' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700|Open+Sans:400,700,600' rel='stylesheet'
          type='text/css'>

    <link rel="stylesheet" media="screen, projector, print" type="text/css" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" media="screen, projector, print" type="text/css" href="{% static 'css/app.css' %}" />
    {% if site.siteconfig.custom_css %}
    <link rel="stylesheet" href="{% static 'css' %}/{{ site.siteconfig.custom_css }}"/>
    {% endif %}
    <link rel="stylesheet" href="{% static 'facebox/facebox.css' %}"/>


    <script type="text/javascript" src="{% static 'js/vendor/custom.modernizr.js' %}"></script>
    {% block head %}

    {% endblock %}
</head>

<body>
<header class="row page-header">
    <div class="large-3 small-12 columns">
      <h1 class="logo"><a href="{% url 'index' %}">
          {% if site.siteconfig.custom_logo %}
          <img src="{% static 'images/' %}{{ site.siteconfig.custom_logo }}" alt="{{ site.name }}"/>
          {% else %}
          <img src="{% static 'images/newturn.png' %}" />
          {% endif %}
      </a></h1>
    </div>
    <div class="large-9 small-12 columns">
        <div class="right user">
                Welcome, <strong>{% firstof user.profile.get_full_name user.email "Guest" %}</strong>.
            {% if user.is_authenticated %}
                <br><a href="{% url 'jobapplication_list' %}">Your account</a> | <a
                    href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Log in</a>
            {% endif %}
        </div>
    </div>
  </header>

<div class="row">

{% block main %}
{% endblock %}

</div>

<footer class="row page-footer">
    <div class="twelve columns">
        <p>&copy; 2013 The Centre for Democratic Participation</p>
        <p>For technical enquiries email <a href="mailto:webmaster@newturn.org.uk">webmaster@newturn.org.uk</a></p>
    </div>
</footer>

{#<script>#}
{#  document.write('<script src={% static 'js/vendor/' %}'#}
{#    + ('__proto__' in {} ? 'zepto' : 'jquery')#}
{#    + '.js><\/script>');#}
{#</script>#}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script type="text/javascript" src="{% static 'js/jquery.dirtyforms.js' %}"></script>
<script type="text/javascript" src="{% static 'facebox/facebox.js' %}"></script>
<script type="text/javascript" src="{% static 'js/foundation/foundation.js' %}"></script>
<script type="text/javascript" src="{% static 'js/foundation/foundation.alerts.js' %}"></script>
<script>
  $(document).foundation();
</script>
<script>
        $(function() {
            $('#filter_form').change(function() {
                $(this).submit();
            });
        })


</script>
<script>Modernizr.load({
  test: Modernizr.inputtypes.date,
  nope: ['http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js', 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.css'],
  complete: function () {
      if (! Modernizr.inputtypes.date) {
        $('input[type=date]').datepicker({
          dateFormat: 'yy-mm-dd'
        });
      }
  }
});

</script>
{% block scripts %}

{% endblock %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-25795487-2', 'newturn.org.uk');
  ga('send', 'pageview');

</script>
</body>

</html>
