{% extends 'base.html' %}

{% block main %}
<h3>Existing application</h3>
    {% if ja.is_draft %}
        <p>You already have a draft application for that position. Would you like to edit it or delete it so you can start a fresh one?</p>
        <p><a class="button" href="{% url 'jobapplication_edit' pk=ja.id %}">Edit it</a>
            <a class="button alert" href="{% url 'jobapplication_delete' pk=ja.id %}?next={% url 'job_apply' pk=ja.form.id %}">Delete it</a></p>
    {% else %}
    <p>You have already submitted an application for that position. Click <a href="{% url 'jobapplication_list' %}">here</a> to view submitted applications.</p>
    {% endif %}
{% endblock %}