{% extends 'base.html' %}
{% load forms_builder_tags %}

{% block main %}
    <div class="application-form-screen">
        <div class="large-4 push-8 columns personal-details">
            <h2>Your personal details</h2>
            <dl>
                <dt>Name</dt>
                <dd>{{ user.profile.get_full_name }}</dd>
                <dt>Email</dt>
                <dd>{{ user.email }}</dd>
                <dt>Telephone number</dt>
                <dd>{{ user.profile.telephone }}</dd>
                <dt>Date of birth</dt>
                <dd>{{ user.profile.date_of_birth }}</dd>
                <dt>CV</dt>
                <dd>
                    {% if user.profile.cv %}
                        <a href="{% url 'get_cv' user.id %}">Click to view</a>
                    {% else %}
                        No CV uploaded
                    {% endif %}
                </dd>
                {% for field in user.profile.fields.all %}
                <dt>{{ field.field.label }}</dt>
                <dd>{{ field.value }}</dd>
                {% endfor %}
            </dl>
            <a class="button secondary" href="{% url 'update_profile' %}">Update details</a>
        </div>

        <div class="large-8 pull-4 columns">
            <h1>Application form</h1>
            {% include "_messages.html" %}
            {{ data }}
            <div class="application-form">
                <form action="" method="post" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
                {% for field in form %}
                    <div class="field{% if field.errors %} error{% endif %}">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                            <small>
                                {% for error in field.errors %}
                                {{ error }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </small>
                        {% endif %}
                        {% if field.help_text %}
                            <span class="helptext">{{ field.help_text }}</span>
                        {% endif %}
                    </div>
                {% endfor %}
                {% csrf_token %}
                    <button type="submit" class="radius" name="action" value="submit">Submit</button>
                    <button class="secondary radius" name="action" value="save">Save draft</button>
                </form>
            </div>

        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
$(function() {
    $('form').dirtyForms();
    $.DirtyForms.debug = true;
{#    $.DirtyForms.dialog = {#}
{#        fire: function (message, title) {#}
{#            $.DirtyForms.choiceContinue = confirm(message);#}
{#        },#}
{#        bind: function () {#}
{#            $.DirtyForms.choiceCommit($.Event("click"));#}
{#        },#}
{#        refire: function (content) {#}
{#            return false;#}
{#        },#}
{#        stash: function () {#}
{#            return false;#}
{#        }#}
{#    }R#}
});
</script>
{% endblock %}
