{% extends 'account_home.html' %}

{% block account_main %}

    <h1>{% if object.is_draft %}Draft a{% else %}A{% endif %}pplication: {{ object.position.title }}, {{ object.position.organisation.name }}</h1>

    {% if not object.is_draft %}
    <p>Application id: {{ object.application_code }}</p>
    {% endif %}



    <dl>
    {% for r in object.fields.all %}
    <dt>{{ r.get_field.label }}</dt>
    <dd>{{ r.render_value_html|safe }}</dd>
    {% endfor %}
    </dl>

    <p>
    {% if object.is_draft %}
    <a class="button" href="{% url 'jobapplication_edit' object.pk %}">Edit</a>
    <a class="button alert" href="{% url 'jobapplication_delete' object.pk %}">Delete</a>
    {% endif %}
    </p>

    <p><a href="{% url 'jobapplication_list' %}">&laquo; back</a></p>

{% endblock %}