{% extends 'base.html' %}

{% block main %}

<h3>Confirm deletion</h3>

<form action="" method="post">

<p>Are you sure you want to delete the draft application {{ object }}?</p>

<p><button type="submit" class="alert">Delete</button>
    <a class="button secondary" href="javascript:history.go(-1)">Cancel</a></p>

{% csrf_token %}

</form>

{% endblock %}