{% extends 'base.html' %}

{% block main %}

<h2>Success</h2>

<p>Thank you. Your application has been submitted and you have been sent an email confirmation. Please take note of your submission ID: {{ jobapplication }}</p>

<p><a href="{% url 'index' %}">Return to homepage</a></p>

{% endblock %}
