{% extends 'account_home.html' %}

{% block account_main %}
<h1>Your Applications</h1>

    {% include '_messages.html' %}

    <h3>Draft applications</h3>
    {% if draft %}
    <table class="jobapplication-list">
    <thead>
        <tr>
            <th>Candidate Name</th>
            <th>Position</th>
            <th>Organisation</th>
            <th>Period</th>
            <th>Last updated</th>
            <th>Actions</th>
        </tr>
    </thead>
    {% for ja in draft %}
    <tr>
    <td>{{ ja.user.profile.get_full_name }}</td>
    <td>{{ ja.position }} (<a href="{% url 'position_detail' pk=ja.position.id %}">view info</a>)</td>
    <td>{{ ja.position.organisation }}</td>
    <td>{{ ja.position.period }}</td>
    <td>{{ ja.entry_time }}</td>
    <td>
        <a href="{% url 'jobapplication_detail' pk=ja.id %}">View</a>
        <a href="{% url 'jobapplication_edit' pk=ja.id %}">Edit</a>
        <a href="{% url 'jobapplication_delete' pk=ja.id %}">Delete</a>
    </td>
    </tr>
    {% endfor %}
    </table>
    {% else %}

    <p>You don't have any draft applications.  Would you like to <a href="{% url 'index' %}">view open positions</a>?</p>
    {% endif %}

    <h3>Submitted applications</h3>
    {% if submitted %}
    <table class="jobapplication-list">
    <thead>
    <th>Position</th>
    <th>Organisation</th>
    <th>Submitted on</th>
    <th>Actions</th>
    </thead>

    {% for ja in submitted %}
    <tr>
        <td>{{ ja.position }}</td>
        <td>{{ ja.position.organisation }}</td>
        <td>{{ ja.entry_time }}</td>
        <td>
            <a href="{% url 'jobapplication_detail' pk=ja.id %}">View</a>
        </td>
    {% endfor %}
    </tr>
    </table>
    {% else %}
    <p>You have not submitted any applications yet.</p>
    {% endif %}

{% endblock %}
