{% extends 'base.html' %}

{% block main %}

<h2>Application saved</h2>

<p>Thanks, your draft application has been saved.  To edit it, please visit <a
        href="{% url 'jobapplication_list' %}">saved applications</a>.</p>

{% endblock %}