{% extends 'base.html' %}

{% block main %}
    {% include '_messages.html' %}
    <div class="large-12 small-12 columns">
    <h1>Open positions</h1>
    </div>
    <ul class="large-9 small-12 push-3 columns position-list">
    {% for position in filter %}
        <li class="position">
            <a href="{% url "position_detail" pk=position.id %}">
        <article>
            <p class="right"><span class="button secondary" href="{% url "position_detail" pk=position.id %}">More info</span></p>
            <h2>{{ position.title }}</h2>
    {#        <p class="right"><a class="button" href="{% url "job_apply" id=position.id %}">Apply</a></p>#}
            <p class="position-meta"><small>{{ position.organisation }} | {{ position.period }}
            {% if position.closing_date %} | Closing date: {{ position.closing_date }}{% endif %}</small></p>
            <p>{{ position.summary }}</p>
        </article>
            </a>
        </li>
    {% endfor %}
    </ul>

    <div class="large-3 small-12 pull-9 columns">
        <form action="" method="get" id="filter_form">
            {{ filter.form.as_p }}
        </form>
    </div>

{% endblock %}
