{% extends 'base.html' %}

{% block main %}
    {% include '_messages.html' %}
    <div class="large-12 columns">
    <h1>Open positions</h1>
    {% include "_messages.html" %}
    {% for position in object_list %}

    {% endfor %}
    </div>

{% endblock %}