{% extends 'base.html' %}
{% load markup thumbnail %}

{% block main %}
    <div class="large-12 columns">
<h1>{{ position.title }}</h1>

    {% thumbnail position.organisation.logo "200x200" as im %}
    <img src="{{ im.url }}" alt="{{ position.organisation.name }}"/>
    {% endthumbnail %}

<article>
    {% if position.closing_date %}
    <p><strong>Closing date for applications:</strong> {{ position.closing_date }}</p>
    {% endif %}

    {% if position.form %}
<aside class="right">
    {% if position.is_open %}
    <a class="button" href="{% url 'job_apply' pk=position.id %}">Apply now</a>
    {% else %}
    <span class="button disabled">Applications closed</span>
    {% endif %}
</aside>
    {% endif %}
{{ position.job_description|markdown}}

{% if position.file_attachments.count %}
    <div class="panel">
        <h3>File attachments</h3>
        <ul>
            {% for f in position.file_attachments.all %}
            <li><a href="{{ f.attachment.url }}">{% firstof f.label f.filename %}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
</article>

        <a href="{% url 'index' %}">&laquo; back</a>
    </div>

{% endblock %}