{% extends 'base.html' %}

{% block main %}
<h1>Job Applications for position</h1>

    <table>
    <thead>
        <tr>
            <th>Candidate Name</th>
            {% for f in position.form.fields.in_list %}
            <th>{{ f.label }}</th>
            {% endfor %}
            <th>Actions</th>
        </tr>
    </thead>
    {% for ja in object_list %}
    <tr>
    <td>{{ ja.user.profile }}</td>
        {% for f in position.form.fields.in_list %}
            <td>{{ f.value }}</td>
        {% endfor %}
    <td><a href="{% url 'jobapplication_detail' pk=ja.id %}">View</a></td>
    </tr>
    {% endfor %}
    </table>

{% endblock %}