{% extends 'admin/base_site.html' %}

{% block content %}

    <h2>Generate interview appointments</h2>

    <p>You are generating appointments for the following interview sessions:</p>

    <ul>
    {% for obj in queryset %}
    <li>{{ obj }}</li>
    {% endfor %}
    </ul>

    <form action="" method="post">
    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit" name="submit">Generate appointments</button>


    </form>

{% endblock %}