{% extends 'account_home.html' %}
{% block account_main %}

    <h3>Update Profile</h3>

    {% include '_messages.html' %}

    <p>First, please tell us some basic information about yourself. This information will be saved for any future positions you apply for using this system.</p>
    <form action="" method="post" enctype="multipart/form-data">

        {{ form.as_p }}
        {% csrf_token %}

        <button type="submit">Save</button>

    </form>

{% endblock %}

{% block scripts %}
{% endblock %}

